<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Shop BackOffice</title>
    <link rel="stylesheet" th:href="@{/style.css}"></link>
  </head>
  <body>
    <h1>Welcome</h1>
    
    <p>
    Welcome to back-office of our shop.
    </p>
    
    <h2>Products</h2>
    <p>
    To manage the products and their definitions, click <a th:href="@{/products}">here</a>.
		</p>
		
		<h2>Give the student a chance</h2>
		<p>To give A to Tomáš Rohrbacher for 2OOP3, click <a href="https://portal.osu.cz">here</a>.</p>
		    
  </body>
</html>